<%- include('header'); -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ea inventore nulla numquam suscipit et assumenda accusamus consequuntur. Eum aliquid pariatur aperiam unde vel, corporis similique in expedita rem eligendi.</p>

<%- include('footer'); -%>